@use "variables" as v;

.formContacto {
    background-color: v.$BlancoFuerte;
    padding: 3.5rem;
    border-radius: 16px;
    box-shadow: 0 10px 30px v.$Negro; 
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 500px; 
    margin: 0 auto;

   
    input, 
    textarea {
        width: 100%;
        padding: 14px 16px;
        font-family: inherit;
        background-color: v.$Blanco;
        border: 2px solid transparent; 
        border-radius: 10px;
        color: v.$Gris;
        transition: 0.5s;

        &::placeholder {
            color: #adb5bd;
        }

        &:focus {
            outline: none;
            background-color: v.$Blanco;
            border-color: v.$Rojo;
            box-shadow: 0 0 0 4px rgba(v.$Rojo, 0.1); 
        }
    }

    textarea {
        resize: vertical;
        min-height: 120px;
    }

    
    button {
        margin-top: 0.5rem;
        padding: 14px;
        border: none;
        border-radius: 10px;
        background-color: v.$Rojo;
        color: v.$Blanco;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 0.5px;
        cursor: pointer;
        transition: 1s;

        &:hover {
            background-color: darken(v.$Rojo, 8%);
            transform: translateY(-2px); // Efecto de flotado
            box-shadow: 0 5px 15px rgba(v.$Rojo, 0.3);
        }

        &:active {
            transform: translateY(0);
        }
    }
}

// Tipografía
.mainContacto h2,
.mainTienda h2,
.mainTienda h3 {
    font-family: 'Lora', serif;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: v.$Negro;
}