@use "variables" as v;

footer {
    background-color: v.$CelesteClaro;
    padding: 10px;
    text-align: center;
    font-family: v.$Arvo;
    margin-top: 20px;

    .redesSociales {
        display: grid;
        grid-template-columns: repeat(3, 40px);
        gap: 15px;
        justify-content: center;
        list-style: none;
        
            li {
            display: inline-block; 

            a {
            display: inline-block;

            img {
                width: 30px;       
                height: 30px;
                object-fit: contain; 
                display: block;
                transition: 0.3s;

                &:hover {
                transform: scale(1.1); 
                }
            }
            }
        }
    }
}

