@use "variables" as v;

.mainTienda {
    p, h2, h3 {
        font-family: v.$Lora;
        text-align: center;
    }

    .buscadorSeccion {
        text-align: center;
        margin: 20px 0;
        padding: 0 15px;

        #buscador {
            width: 100%;
            max-width: 400px;
            padding: 12px 15px;
            border: 2px solid v.$CelesteOscuro;
            border-radius: 25px;
            outline: none;
            box-sizing: border-box;
        }

        #buscador:focus {
            border-color: v.$AzulFrancia;
            transition: 0.3s;
            box-shadow: 0 0 5px v.$AzulGrisacio;
        }
    }
}

.galeria {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }


    .producto {
        background-color: v.$Blanco;
        border: 1px solid v.$GrisClarito;
        border-radius: 10px;
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        transition: transform 0.3s;

        &:hover {
            transform: translateY(-5px);
        }

        .imagenProducto {
            width: 100%;
            max-width: 180px;
            height: 180px;
            object-fit: contain;
            border-radius: 8px;
            margin: 0 auto 10px;
            display: block;
        }

        h3 {
            font-size: 1.2rem;
            margin: 10px 0;
            color: v.$Negro;
        }

        p {
            font-size: 1rem;
            color: v.$Gris;
            margin-bottom: 15px;
        }

        .accionesProducto {
            display: grid;
            gap: 10px;
            margin-top: auto;

            @media (max-width: 400px) {
                flex-direction: flex;
            }

            button {
                flex: 1;
                padding: 12px;
                border: none;
                border-radius: 6px;
                font-size: 0.9rem;
                font-weight: 600;
                cursor: pointer;
                transition: 0.3s;
            }

            .btn-saber-mas {
                background-color: v.$Blanco;
                color: v.$Gris;
                border: 1px solid v.$GrisClarito;

                &:hover {
                    background-color: v.$BlancoFuerte;
                    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                }
            }

            .btnComprar {
                background-color: v.$Celeste;
                color: v.$Blanco;

                &:hover {
                    background-color: v.$CelesteOscuro;
                    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
                }
            }
        }
    }
}

