@use "variables" as v;

.carritoFlotante {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: v.$CelesteOscuro;
    color: v.$BlancoFuerte;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    box-shadow: 0 6px 15px v.$NegroOscuro;
    transition: transform 0.3s ease, background-color 0.3s ease;

    &:hover {
        transform: scale(1.1); 
        background-color: lighten(v.$CelesteOscuro, 5%); 
        color: v.$BlancoFuerte;
    }

    .contadorCarrito {
        position: absolute;
        top: 0; 
        right: 0;
        width: 22px;
        height: 22px;
        background-color: v.$Rojo;
        color: v.$BlancoFuerte;
        font-size: 11px;
        font-weight: bold;
        border-radius: 50%;
        border: 2px solid v.$CelesteOscuro;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}