// Imports

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

// Colores y fuentes

$CelesteClaro: lightblue;
$Celeste: #39c3fe;
$CelesteOscuro: #2dbef3;
$Blanco: #f8f8f8;
$BlancoFuerte: #ffffff;
$NegroClaro: #262626;
$Negro: #000;
$Gris: #444;
$GrisClarito: #999;
$AzulFrancia: #293ee3;
$AzulMarino: rgba(35,81,149,0.5);
$AzulGrisacio: rgba(57,195,254,0.4);
$Rojo: #ff3b3b;
$Verde: #2ecc71;
$VerdeOliva: #8eb486;
$VerdeOrganico: #2d5a27;
$Arvo: 'Arvo', serif;
$Lora: 'Lora', serif;

//

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    background-color: $Blanco;
}



